@import "tailwindcss";


@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white rounded-lg font-medium
           hover:bg-blue-700 transition
           px-6 py-3;
  }

  .btn-outline {
    @apply border border-blue-600 text-blue-600 rounded-lg
           hover:bg-blue-50 transition
           px-6 py-3;
  }

  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg
           focus:outline-none focus:ring-2 focus:ring-blue-500
           focus:border-blue-500;
  }
}
